<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PDF加編號</title>
    <link rel="stylesheet" href="http://localhost:3000/styles/style.css" />
  </head>
  <body>
    <div><h1>404 找不到頁面</h1></div>
    <div>
      <a href="/">回首頁</a>
    </div>
  </body>
</html>
